body {
    background-color: #153243;
    text-align: center;
}

.Count {
    font-size: 100px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.inc {
    background-color: #33b5e5;
    border: 5px outset #fff;
    color: #fff;
    display: inline;
    width: 400px;
    height: 400px;
    font-size: 200px;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;
}

.inc:active {
    border: 5px inset #fff;
}